@if (ViewBag.Title == null)
{
    <div class="alert alert-danger">
        <h1>@ViewBag.Error</h1>

        <h1>@ViewBag.Path</h1>

        <h1>@ViewBag.Qs</h1>

    </div>
}
else
{
    <div class="alert alert-danger">
        <h1>@ViewBag.Title</h1>

        <h3>@ViewBag.Message</h3>
    </div>
}

<a asp-controller="Home" asp-action="index" class="btn btn-info">Back</a>
