@model Employee
@{ 
    var image = "~/Images/" + (Model.PhotoPath ?? "emp.jpg");
} 

<div class="row">
    <div class="card col-3 ">
        <div class="card-header"><h3>Name : @Model.Name</h3></div>
        <img asp-append-version="true" class="card-img-top img-thumbnail" src="@image" />
        <div class="card-text"><h6>Department : @Model.Department</h6></div>
        <div class="card-text"><h6>Email : @Model.Email</h6></div>
        <div class="card-footer"><a asp-controller="Home" asp-action="index" asp-route-id="@Model.Id" class="btn btn-info">Back</a></div>
    </div>

